*{
    margin: 0px;
    padding: 0px;
    border: none;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#13af49, #228c22);
    flex-direction: column;
   
}
.bar{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#13af49, #228c22);
    font-size: 15px;
    color: #fdfefd;
    align-items: center;
    justify-content: center;
}
a{
    height: 40px;
    color: #fdfefd;
    text-decoration: none;
    margin-left: 80px;
}
a:hover{
    color:#314F9B;
    height: 40px;
}
.garchig:hover{
    background-color: #a3ebb1;

}
.garchig{
    width: 100%;
    height: 40px;
   
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content:space-between;
    gap: 30px;
    background-color: #e8e9eb;
    padding-left: 100px;
    align-items: center;

}
.header>p{
    font-size: 30px;
    color:#04A74B;
    align-items: center;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo>img{
    width: 20%;
    height: 80px;
    border-radius: 100%;
}
.contact{
    width: 20%;
    height: 100%;
    color:grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    font-size: 15px;
}
/* home */
.HomeMainContainer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* nevtreh heseg */
.nevtrehHeseg{
   display: block;
    /* display: none;  */
    /* position: fixed; */
    position: relative;
    border: 0.0011px solid white;
    width: 380px;
    height: 550px;
    margin-top: 10%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.logoHeseg{
    width: 100%;
    height:12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoNevtreh{
    width: 15%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.logoNevtreh img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.nevtrehUg,.burtgelug{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #113259;
}
.burtgeljuuleh{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burtgeljuulehMain{
    width: 85%;
    height: 95%;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5%
}
.username{
    width: 90%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5%;
}
.username label{
    margin-left: 5%;
}
#email{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background: #edf2f7;
}
#email1{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background:  #edf2f7;;
}
#password1{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background:   #edf2f7;
}
.password{
    width: 90%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    color: black;
    gap: 2%;
}
.passwordUg{
    width: 90%;
    height: 30%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.martsanuu{
    font-size: 14px;
    color: #113259;
}
.password label{
    margin-left: 5%;
}
#password{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color:#000000 ;
    background: #edf2f7;;
}
.shineBurtgel{
    width: 100%;
    height: 12%;
    /* border: 1px solid black; */
}
#nevtreh{
    width: 85%;
    height: 20%;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    margin-bottom: 5%;
    background-color: #dc582a;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.shineBurtgel{
    margin-top: 5%;
    width: 85%;
    align-self: center;
    justify-self: center;
    margin-left: 8%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
}
.burtguulehUg{
    font-size: 18px;
    cursor: pointer;
    transition: 2s;
}
.bubbles{
position: relative;
display: flex;
}
.bubbles span{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url(https://www.pngall.com/wp-content/uploads/5/Single-Plant-Leaf-PNG-File.png);
    margin: 0 4px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #b7ed88,0 0 50px #2da44e,0 0 100px #2da44e;
    animation: animate 15s linear infinite;
    animation-duration: calc(300s / var(--i));
    color: dodgerblue;
}
.bubbles span:nth-child(even)
{
    background-color: #b7ed88;
    box-shadow: 0 0 0 10px #2da44e,0 0 50px #2da44e,0 0 100px #2da44e;
}
@keyframes animate {
    0%{
        transform: translateY(-10vh) scale(0);
    }
    100%{
        transform: translateY(100vh) scale(1);
    }
}

/* Ð‘Ò¯Ñ€Ñ‚Ð³Ò¯Ò¯Ð»ÑÑ… Ñ…ÑÑÐ³Ð¸Ð¹Ð½ css */
.burtguulehHeseg{
display: none;
    position: fixed;
    width: 380px;
    height: 550px;
    margin-top: 5%;
    border-radius: 5px;
    background:white;
    color: #000000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    overflow: scroll;
}
::webkit-scrollbar{
    display: none;
}
.burtgelug{
    width: 100%;
    height: 15%;
    color: #000000;
}
.huviHunEsvelBaiguulaga{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #000000;
    border: none;
    
}
#baiguulagiinNerHeseg{
        width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    border: none;
    gap: 5%;
    display: none;

}
#huvihun{
    width:100px;
    height: 40px;
    border-bottom: 1px solid #03d010;
    /* border: none; */
    background-color: white;
}
#baiguulaga{
    width:100px;
    height: 40px;
    border-bottom: 1px solid #03d010;
    border: none;
    background-color: white;
}
#baiguulagiinNerHeseg label{
align-self: flex-start;
margin-left: 5%;
}
#baiguulagaNer{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background: #edf2f7;
    
}
.ovogniiHeseg{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.ovogniiHeseg label{
    align-self: flex-start;
    margin-left: 5%;
}
.nerniiHeseg label{
    align-self: flex-start;
    margin-left: 5%;
}
.emailHeseg label{
    align-self: flex-start;
    margin-left: 5%;
    color: #000000;
}
.passwordHeseg label{
    align-self: flex-start;
    margin-left: 5%;
}
.nerniiHeseg{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.emailHeseg{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.passwordHeseg{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.burtguulehButton{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#burtguuleh{
    width: 80%;
    height: 75%;
    border-radius: 5px;
    background-color:  #dc582a;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#ovog{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background: #edf2f7;
}
#ner{
    width: 90%;
    height: 50%;
    align-self: center;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background: #edf2f7;
}
#nevtrehButsah{
    margin-left: 5%;
    cursor: pointer;
}

@media (max-width:500px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center; 
   }
    .nevtrehHeseg{
        width: 300px;
        height: 400px;
    }
    .burtguulehHeseg{
        width: 300px;
        height: 450px;
    }
    #burtguuleh{
        width: 180px;
        height: 35px;
    }
    .shineBurtgel p{
        font-size: 15px;
    }
    .burtgelug,.nevtrehUg h3{
        font-size: 20px;
    }
} 